name: scheduled link check

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check links with lychee-action
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress --retry 5 --retry-wait 10 **/*.md **/*.html
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: upload lychee-action output artifact
        uses: actions/upload-artifact@v4
        with:
          name: lychee-action-output
          path: ./lychee/out.md

